version: '3.8'

services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: amemiya-app
        volumes:
            - ./:/var/www/html:cached
            - /var/www/html/vendor
            - /var/www/html/node_modules
        depends_on:
            db:
                condition: service_healthy

            mailhog:
                condition: service_started
    nginx:
        image: nginx:1.25
        container_name: amemiya-nginx
        ports:
            - "8000:80"
        volumes:
            - ./:/var/www/html:cached
            - ./.docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
        depends_on:
            - app

    db:
        image: mysql:8.0
        container_name: amemiya-db
        restart: always
        environment:
            MYSQL_DATABASE: amemiya
            MYSQL_USER: amemiyauser
            MYSQL_PASSWORD: amemiyapass
            MYSQL_ROOT_PASSWORD: rootpass
        ports:
            - "3307:3306"
        volumes:
            - db_data:/var/lib/mysql
        healthcheck:
            test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
            interval: 10s
            timeout: 5s
            retries: 5


    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        container_name: amemiya-phpmyadmin
        restart: always
        environment:
            PMA_HOST: db
            MYSQL_ROOT_PASSWORD: rootpass
        ports:
            - "8080:80"

    mailhog:
        image: mailhog/mailhog
        container_name: amemiya-mailhog
        ports:
            - "8025:8025" # UI
            - "1025:1025" # SMTP

volumes:
    db_data:
